export(genequeries,regionqueries,snpqueries,import_eQTLCatalogue,import_OpenGWAS,pqtlMR,run_coloc,uniprot2ids)
import(dplyr,utils)
importFrom("coloc","coloc.abf")
importFrom("graphics", "abline", "arrows", "axis", "box", "identify",
           "legend", "lines", "mtext", "par", "plot", "points",
           "segments", "text")
importFrom("grDevices", "palette", "xy.coords")
importFrom("stats", "as.formula", "coefficients", "cor", "dnorm",
           "glm", "integrate", "median", "nlm", "pchisq", "pf",
           "pnorm", "ppoints", "pt", "qchisq", "qnorm", "qqplot", "qt",
           "quantile", "rbinom", "rexp", "rnorm", "runif", "var")
importFrom("grDevices", "dev.off")
importFrom("graphics", "title")
importFrom("graphics", "boxplot")
importFrom("TwoSampleMR","available_outcomes","extract_outcome_data","format_data",
           "harmonise_data","mr","mr_heterogeneity","mr_pleiotropy_test","mr_singlesnp")
